@model BlogProject1.EntityLayer.Concrete.CancerAbout
@{
    ViewData["Title"] = "AddCancerAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Meme Kanseri Sayfası Bilgisi Oluştur</h1>

@using (Html.BeginForm("AddCancerAbout", "CancerAbout", FormMethod.Post))
{
    @Html.Label(" 1. Başlık-1")
    @Html.TextBoxFor(x=>x.CancerAboutHead1, new {@class = "form-control"})
    <br />
    @Html.Label(" Başlık Açıklaması-1")
    @Html.TextAreaFor(x=>x.CancerAboutDetails1,15,3, new {@class = "form-control"})
    <br />
    @Html.Label("2.Başlık-2")
    @Html.TextBoxFor(x=>x.CancerAboutHead2, new {@class = "form-control"})
    <br />
    @Html.Label(" 2.Başlık Açıklaması-2")
    @Html.TextAreaFor(x=>x.CancerAboutDetails2,15,3, new {@class = "form-control"})
    <br />
    @Html.Label("3. Başlık-3")
    @Html.TextBoxFor(x=>x.CancerAboutHead3, new {@class = "form-control"})
    <br />
    @Html.Label("3. Başlık Açıklaması-3")
    @Html.TextAreaFor(x=>x.CancerAboutDetails3,15,3, new {@class = "form-control"})
    <br />
    @Html.Label("4. Başlık-4")
    @Html.TextBoxFor(x=>x.CancerAboutHead4, new {@class = "form-control"})
    <br />
    @Html.Label("4. Başlık Açıklaması-4")
    @Html.TextAreaFor(x=>x.CancerAboutDetails4,15,3, new {@class = "form-control"})
    <br />
    @Html.Label("5. Başlık-5")
    @Html.TextBoxFor(x=>x.CancerAboutHead5, new {@class = "form-control"})
    <br />
    @Html.Label("5. Başlık Açıklaması-5")
    @Html.TextAreaFor(x=>x.CancerAboutDetails5,15,3, new {@class = "form-control"})
    <br />
    <button class="btn btn-info">Kaydet</button>
}

