@model BlogProject1.EntityLayer.Concrete.CancerAbout
@{
    ViewData["Title"] = "EditCancerAbout";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<h1>Meme Kanseri Sayfası Düzenlenme Sayfası</h1>

@using (Html.BeginForm("EditCancerAbout", "CancerAbout", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Deneyim Düzenleme Paneli </p>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>ID</label>
                        @Html.TextBoxFor(x => x.CancerAboutID, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        <label> 1. Başlık </label>
                        @Html.TextBoxFor(x => x.CancerAboutHead1, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label> 1. Başlık Açıklaması</label>
                        @Html.TextAreaFor(x=>x.CancerAboutDetails1,15,3, new {@class = "form-control"})
                    </div>
                    <div class="form-group">
                        <label> 1. Resim</label>
                        @Html.TextBoxFor(x => x.CancerAboutImage1, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label> 2. Başlık </label>
                        @Html.TextBoxFor(x => x.CancerAboutHead2, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>2. Başlık Açıklaması</label>
                        @Html.TextAreaFor(x=>x.CancerAboutDetails2,15,3, new {@class = "form-control"})
                    </div>
                    <div class="form-group">
                        <label> 2. Resim</label>
                        @Html.TextBoxFor(x => x.CancerAboutImage2, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label> 3. Başlık </label>
                        @Html.TextBoxFor(x => x.CancerAboutHead3, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label> 3. Başlık Açıklaması</label>
                        @Html.TextAreaFor(x=>x.CancerAboutDetails3,15,3, new {@class = "form-control"})
                    </div>
                    <div class="form-group">
                        <label> 3. Resim</label>
                        @Html.TextBoxFor(x => x.CancerAboutImage3, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label> 4. Başlık </label>
                        @Html.TextBoxFor(x => x.CancerAboutHead4, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label> 4. Başlık Açıklaması</label>
                        @Html.TextAreaFor(x=>x.CancerAboutDetails4,15,3, new {@class = "form-control"})
                    </div>
                    <div class="form-group">
                        <label> 4. Resim</label>
                        @Html.TextBoxFor(x => x.CancerAboutImage4, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label> 5. Başlık </label>
                        @Html.TextBoxFor(x => x.CancerAboutHead5, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label> 5. Başlık Açıklaması</label>
                        @Html.TextAreaFor(x=>x.CancerAboutDetails5,15,3, new {@class = "form-control"})
                    </div>
                    <div class="form-group">
                        <label> 5. Resim</label>
                        @Html.TextBoxFor(x => x.CancerAboutImage5, new { @class = "form-control" })
                    </div>
                    
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button class="btn btn-dark">İptal</button>
                </form>
            </div>
        </div>
    </div>
}

