@using BlogProject1.EntityLayer.Concrete
@model List<Blog>
@if (Model.Count > 0)
{
    @foreach (var item in Model)
    {
        <li>

            <a href="@item.BlogImage">
                <img src="@item.BlogImage" alt="" data-desoslide-caption="<h3>Son 2 Blog</h3>">
                <div class="mid-text-info">
                    <h4>@item.BlogTitle</h4>
                    <p>@item.BlogContent </p>
                    <div class="sub-meta">
                        <span>
                            <i class="far fa-clock"></i> @item.BlogCreateDate.ToString("dd.MM.yyyy")
                        </span>
                    </div>
                </div>

            </a>

        </li>
    }
}