@using BlogProject1.EntityLayer.Concrete
@model List<New>
@{
    ViewData["Title"] = "NewsListByWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Admin Haberleri</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog Başlığı</th>
        <th>Oluşturma Tarihi</th>
        <th>Kategori</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.NewID</th>
            <td>@item.NewTitle</td>
            <td>@item.NewsCreateDate.ToShortDateString()</td>
            <td>@item.Category.CategoryName</td>
            <td>@item.NewStatus</td>
            <td>
                <a href="/Admin/New/DeleteNew/@item.NewID" class="btn btn-danger"
                   onclick="return confirm('Silmek istediğinize emin misiniz?')">Sil</a>
            <td> <a href="/Admin/New/EditNew/@item.NewID" class="btn btn-warning">Düzenle</a></td>
        </tr>
    }
</table>
<a href="/Admin/New/AddNew/" class="btn btn-primary">Yeni Haber Oluştur</a>